################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IG
/eShopOnWeb
/.vs
/Inversion/src/.vs/Inversion/v15/Server/sqlite3
